{% extends "layout.html" %}
{% block title %}
Edit Post
{% endblock %}
{% block content %}
<br>
    <h1 align = "center"> Edit Comment</h1>
    <form method="POST">
        <textarea name="text" id="text" class = "form-control">{{comment['text'] }}</textarea>
        <br>
        <div align = "center">
            <button type="submit" class = "btn btn-lg btn-custom">Comment</button>
        </div>
    </form>
<br>
<div align="center">
    <a href = "/archive"><button type = "button" class="btn btn-secondary btn-lg">Back</button></a>
</div> 
{%endblock%}
