{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<br>
<div align = "center">
    <h2>Welcome to VoiceBox!</h2>
    {% if current_user.is_authenticated %}
        <p>Go to the Archives section to view posts made by our community!</p>
        <a href="{{ url_for('auth.logout') }}">
            <button class = "btn btn-custom" type="button">Log Out</button>
        </a>
    {% else %}
        <p>Make sure to sign in!</p>
        <a href="{{ url_for('auth.login') }}">
            <button class = "btn btn-custom" type="button">Log In</button>
        </a>
        <a href="{{ url_for('auth.sign_up') }}">
            <button class = "btn btn-custom" type="button">Sign Up</button>
        </a>
    {%endif%}
</div>
{% endblock %}
