{% extends "layout.html" %}
{% block title %}
{{post.text}}
{% endblock %}
{% block content %}
<br>
<br>
</h1>
<div id="posts">
    <div class="card border-dark">
            <div class="card-header d-flex justify-content-between align-items-center btn-custom">
                    <a href="/user/{{post.user.username}}" class="text-dark">{{post.user.username}}</a>
                    {%if user.id == post.author%}
                    <div class = "btn-group">
                            <button type= "button" class = "btn btn-sm btn-light btn-outline-secondary dropdown-toggle" data-toggle="dropdown"></button>
                            <ul class="dropdown-menu">
                                    <li><a href="/delete-post/{{post.id}}" class = "dropdown-item text-dark">Delete</a></li>
                                    <li><a href="/edit-post/{{post.id}}" class = "dropdown-item text-dark">Edit</a></li>
                            </ul>
                    </div>
                    {%endif%}
            </div>
            <div class = "card-body">
                    <div class = "card-text">{{post.text}}</div>
                    <br>
                    <form class="input-group mb-3" method="POST" action="/create-comment/{{post.id}}">
                        <input type="text" name="text" id="text" class="form-control" placeholder="Got something to add?">
                        <button type = "submit" class="btn btn-custom">Comment</button>
                    </form>
                    <div class = "collapse" id="comments-{{post.id}}">
                        <div class = "card">
                                <div class = "card-body" id = "comments-expanded-{{post.id}}">
                                        {% for comment in post.comments%}
                                        <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                        <a href="/user/{{comment.user.username}}" class="text-dark">{{comment.user.username}}</a>: {{comment.text}}
                                                        <div>
                                                                <small class = "text-muted">{{comment.date_created}}</small>
                                                                {%if user.id == post.author or user.id == comment.author%}
                                                                <div class = "btn-group">
                                                                        <button type= "button" class = "btn btn-sm btn-custom btn-outline-secondary dropdown-toggle" data-toggle="dropdown"></button>
                                                                        <ul class="dropdown-menu">
                                                                                <li><a href="/delete-comment/{{comment.id}}" class = "dropdown-item text-dark">Delete</a></li>
                                                                                {%if user.id == comment.author%}
                                                                                <li><a href="/edit-comment/{{comment.id}}" class = "dropdown-item text-dark">Edit</a></li>
                                                                                {%endif%}
                                                                        </ul>
                                                                </div>
                                                                {%endif%}
                                                        </div>
                                                </div>
                                        </div>
                                        {%endfor%}
                                </div>
                        </div>
                    </div>
                    <p class="card-text">
                    {%if post.comments|length > 0%}
                    <a data-toggle="collapse" href="#comments-{{post.id}}" role="button">
                        {% if post.comments|length == 1 %}
                        <small class="text-dark">View {{post.comments|length}} Comment</small>
                        {%else%}
                        <small class="text-dark">View {{post.comments|length}} Comments</small>
                        {%endif%}
                    </a>
                    {%else%}
                    <small class="text-muted">No Comments</small>
                    {%endif%}
                    </p>
            </div>
            <div class = "card-footer btn-custom text-dark">
                <a href="/post/{{post.id}}" class="text-dark">{{post.date_created}}</a>
            </div>
    </div>
    <br>
</div>
<br>
<div align="center">
    <a href = "/archive"><button type = "button" class="btn btn-secondary btn-lg">Back</button></a>
</div>
{% endblock %}
